*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /*@include respond(tab-port) {
        font-size: 50%; //8px
    }*/ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 80px [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media (max-width: 56.25em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }
  @media (max-width: 56.25em) {
    .heading-1 {
      font-size: 4rem; } }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 2rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #c69963;
  border: none;
  border-radius: 0;
  color: white;
  padding: 1.8rem 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    background-color: #B28451; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 5rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  text-align: center; }
  @media (max-width: 56.25em) {
    .sidebar {
      grid-column: 1/-1;
      grid-row: 1/2;
      text-align: right; } }

.side-btn {
  border: none;
  border-radius: none;
  width: 4rem;
  height: 2px;
  color: #fff;
  cursor: pointer;
  margin-top: 4rem; }
  .side-btn:focus {
    outline: none; }
  .side-btn::before, .side-btn::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff; }
  .side-btn::before {
    transform: translateY(-1rem); }
  .side-btn::after {
    transform: translateY(0.8rem); }
  @media (max-width: 56.25em) {
    .side-btn {
      margin: 3rem 3rem; } }

.header {
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.8)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-gap: 2rem;
  justify-content: center;
  padding: 4rem 8rem 8rem 8rem; }
  @media (max-width: 56.25em) {
    .header {
      grid-column: 1/-1; } }
  .header__logo {
    height: 3rem;
    justify-self: center; }
  .header__btn {
    justify-self: start;
    align-self: center; }
  .header__seenon-text {
    font-size: 1.6rem;
    color: #aaa;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-gap: 2rem;
    align-items: center; }
    .header__seenon-text::after, .header__seenon-text::before {
      content: "";
      height: 1px;
      background-color: currentColor;
      display: block; }
  .header__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    justify-items: center;
    align-items: center; }
    .header__seenon-logos img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(0.7); }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7/full-end;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row-gap: 2rem;
  /*display: grid;
    align-content: center;
    justify-content: center;*/ }
  @media (max-width: 56.25em) {
    .realtors {
      grid-column: 1/-1; } }
  .realtors__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-row-gap: 3rem;
    grid-column-gap: 5vh;
    align-items: center;
    justify-content: center; }
    @media (max-width: 56.25em) {
      .realtors__list {
        grid-template-columns: repeat(3, min-content max-content); } }
    @media (max-width: 56.25em) {
      .realtors__list {
        grid-template-columns: min-content max-content; } }
  .realtors__img {
    width: 6rem;
    border-radius: 50%; }
  .realtors__sold {
    text-transform: uppercase;
    color: #aaa;
    margin-top: -3px; }

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: flex-start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1.5rem; }
  .feature__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: #c69963;
    grid-row: 1/span 2;
    transform: translateY(-0.75rem); }
  .feature__text {
    font-size: 1.6rem; }

.story__pictures {
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  background-size: cover;
  background-position: center;
  grid-column: full-start/col-end 4;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }
  @media (max-width: 56.25em) {
    .story__pictures {
      grid-column: 1/-1; } }

.story__img {
  width: 100%;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  display: block; }
  .story__img--1 {
    grid-row: 2/6;
    grid-column: 2/6; }
    @media (max-width: 56.25em) {
      .story__img--1 {
        grid-row: 1/4;
        grid-column: 1/4; } }
  .story__img--2 {
    grid-row: 4/6;
    grid-column: 4/7;
    width: 115%;
    z-index: 2; }
    @media (max-width: 56.25em) {
      .story__img--2 {
        width: 100%;
        transform: translateY(-6px); } }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5/full-end;
  padding: 6rem 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  @media (max-width: 75em) {
    .story__content {
      padding: 3rem 6rem; } }
  @media (max-width: 56.25em) {
    .story__content {
      grid-column: 1/-1;
      grid-row: 5/6; } }

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.homes {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  grid-gap: 6rem;
  margin: 15rem 0; }

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem; }
  .home__img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2; }
  .home__like {
    width: 2rem;
    height: 2rem;
    grid-row: 1/2;
    grid-column: 2/3;
    fill: #c69963;
    justify-self: end;
    margin: 1rem; }
  .home__name {
    grid-column: 1/-1;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    background-color: #101d2c;
    padding: 1.25rem 2rem;
    text-align: center;
    width: 80%;
    justify-self: center;
    grid-row: 1/2;
    align-self: end;
    transform: translateY(50%); }
  .home__location, .home__rooms {
    margin-top: 2.5rem; }
  .home__location, .home__rooms, .home__area, .home__price {
    margin-left: 2rem;
    display: flex;
    align-items: center; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      width: 2rem;
      height: 2rem;
      fill: #c69963; }
    .home__location p, .home__rooms p, .home__area p, .home__price p {
      font-size: 1.5rem;
      margin-left: 1rem; }
  .home__btn {
    grid-column: 1/-1; }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--2 {
    grid-row: 1/span 3;
    grid-column: 3 /span 3; }
  .gallery__item--3 {
    grid-row: 1/span 2; }
  .gallery__item--4 {
    grid-row: 1/span 2;
    grid-column: 7/span 2; }
  .gallery__item--5 {
    grid-row: 3/span 3;
    grid-column: 1/span 2; }
  .gallery__item--6 {
    grid-row: 4/span 2;
    grid-column: 3/span 2; }
  .gallery__item--7 {
    grid-row: 4/span 1;
    grid-column: 5/span 1; }
  .gallery__item--8 {
    grid-row: 3/span 2;
    grid-column: 6/span 2; }
  .gallery__item--9 {
    grid-row: 3/span 3; }
  .gallery__item--10 {
    grid-row: 6/span 2;
    grid-column: 1/span 1; }
  .gallery__item--11 {
    grid-row: 6/span 2;
    grid-column: 2/span 2; }
  .gallery__item--12 {
    grid-row: 6/span 2;
    grid-column: 4/span 1; }
  .gallery__item--13 {
    grid-row: 5/span 3;
    grid-column: 5/span 3; }
  .gallery__item--14 {
    grid-row: 6/span 2; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
  padding: 8rem; }

.nav {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  align-items: center;
  grid-gap: 2rem;
  transition: all .3s; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1.5rem;
    display: block;
    text-transform: uppercase; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(3px); }

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
  margin-top: 6rem; }
